<!DOCTYPE html>

    <head>
        <title>LiPic</title>
    </head>
    <body>
    <div id="indexcontainer" style="width:800px; text-align:center; margin-left:auto; margin-right:auto; overflow:hidden;">
        <h1>LiPic</h1>
        <h2>Match the best palette for your picture from thousand online database!</h2>
        <form data-th-action="@{/match}" enctype="multipart/form-data" method="post">

          <div>File:<input type="file" id="filechooser" name="image"/></div>
          <div id="imagepreview" style="width:500px; margin-top:20px; margin-left:auto; margin-right:auto;"><img id="previewer" style="width:100%;"/></div>
          <div><input type="submit" value="MATCH"/></div>

        </form>
        <script>
//document.write("js");
    var filechooser = document.getElementById('filechooser');
    var previewer = document.getElementById('previewer');

    // 200 KB sizelimit
    //var maxsize = 200 * 1024;

    filechooser.onchange = function() {
        var files = this.files;
        var file = files[0];

        // 接受 jpeg, jpg, png 类型的图片
        if (!/\/(?:jpeg|jpg|png)/i.test(file.type)) return;

        var reader = new FileReader();

        reader.onload = function() {
            previewer.src = this.result;
        };

        reader.readAsDataURL(file);
        
    };

</script>
        <p>Click <a data-th-href="@{/picupload}">here</a> to login with histroy records</p>
     </div>   
    </body>
</html>