<!DOCTYPE html>
<html>
    <head>
        <title>LiPic-Result</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
    <body>
        <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-center">
				LiPic
			</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item active"><a href="#">Test Picture</a></li>
      <li class="nav-item"><a href="#">Shared Palette</a></li>
      <li class="nav-item"><a href="#">Your Records</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
    </nav>
</div>
	<div class="center-block" style="height:30px"></div>
              <div class="col-md-3 column"></div>
	 <div class="col-md-6 column">
          <div id="imagepreview" class="jumbotron"><img data-th-src="|../files/${imageUrl}|" id="previewer" class="img-responsive" style="height:250px"/></div>
          <div><h4 class="text-center">Colors of Your Picture</h4></div>
<div class="center-block" style="height:90px">
<table style="width:100%;">
<tr>
  <td data-th-each="picturecolors : ${pictureColors}">
    <div data-th-style="|width:95%; height:50px; border-radius: 4px; border-style:solid; border-color:#808080; background-color:#${picturecolors}|"></div>
  </td>
</tr>
</table>
</div>

	<div>
	<button class="btn btn-info btn-block" onclick="{location.href='home.html'}">Test a New Picture</button>
	</div>
<div class="center-block" style="height:40px"></div>
<div class="center-block" style="height:90px">
<h4 class="text-center">Recommend Palette</h4>
<table style="width:100%;">
<tr>
  <td data-th-each="colors : ${palettes.colors}">
    <div data-th-style="|width:95%; height:50px; border-radius: 4px; border-style:solid; border-color:#808080; background-color:#${colors}|"></div>
  </td>
</tr>
</table>
</div>
<div class="center-block">
<h4 class="text-center">Select best similar palette for your picture from Kuler!
			</h4>
<div class="center-block" style="height:30px"></div>
<h4 class="text-center">Do you like this palette? </h4>
<span class="pull-left">
          <a href="javascript:void(0)" onclick="like()"
            class="btn btn-default">
            <span class="glyphicon glyphicon-thumbs-up"></span> Like
          </a>
                <span th:text="{$LipicPalettes.numLikes}"></span>
            </a>
</span>
<span class="pull-right">
            <a href="javascript:void(0)" onclick="dislike()"
              class="btn btn-default">
              <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
            </a>
                  <span th:text="{$LipicPalettes.numDislikes}"></span>
              </a>
</span>
</div>

<div class="center-block" style="height:100px"></div>
         </div>
				<div class="col-md-3 column">
				</div>

	</div>
        </div>

<script type="text/javascript">
//rewite based on scripts from https://my.oschina.net/skyheng/blog/725421
            function like() {
                $.ajax({
                    url: '/updatelikes/{id}',
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    data: JSON.stringify(LipicPalettes)
                });
            }
            function dislike() {
                $.ajax({
                    url: '/updatedislikes/{id}',
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    data: JSON.stringify(LipicPalettes)
                });
            }
</script>

 </body>
</html>
