<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
        <!--<script type="text/javascript" src="demopic.js"></script>-->
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s palette!</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>Dominant Colors</th>
                    <th>Similar Pallete</th>
                    <th>Palette Author</th>
                    <th>Palette</th>
                    <th>Palette Source</th>
                    <th>Rating</th>
                </tr>                
                <!--<tr data-th-each="picture : ${pictures}">
                    <td data-th-text="${picture.id}"></td>
                    <td data-th-text="${picture.imgURL}"></td>
                    <td data-th-text="${picture.imgColors}"></td>
                    <td data-th-text="${picture.paletteTitle}"></td>
                    <td data-th-text="${picture.author}"></td>
                    <td data-th-text="${picture.paletteColors}"></td>
                    <td data-th-text="${picture.paletteURL}"></td>
                    <td data-th-text="${picture.rating}"></td>
                </tr>-->
            </table>
        </div>
        
        <hr />
        Test New Picture<br />
       <!--<form data-th-action="@{/pictures/add}" name="addPicForm" method="post">
            imgURL: <input type="text" name="imgURL" /><br />
            imgColors: <input type="text" name="imgColors" /><br />
            PaletteTitle: <input type="text" name="paletteTitle" /><br />
            PaletteAuthor: <input type="text" name="author" /><br />
            PaletteColors: <input type ="text" name="paletteColors" /><br/>
            PaletteURL: <input type="text" name="paletteURL"/><br>
            rating: <input type="text" name="rating"/><br/>
            <input type="submit" value="SUMBIT"/>
            
        </form> -->
        <hr />   
        <input type="file" id="files" name="pic" accept="image/*"/>
            <br />
            <br /> 
            <input type="submit" name="upbutton" value="Save"/>
            <hr/>
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
 
    </body>
</html>